.AddInfo {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  & > div {
    margin: 15px 0
  }
  label {
    display: inline-block;
    width: 130px;
    font-size: 20px;
    text-align: left;
    vertical-align: top;
  }
  .buttonBox {
    margin-top: 80px;
    button {
      width: 130px;
      height: 45px;
    }
    .back {
      margin-right: 20px;
    }
  }
  textarea {
    font-family: Arial;
    width: 280px;
  }
}