.homePage {
  > header {
    .add {
      padding: 10px 25px;
      font-size: 14px;
      height: 36px;
    }
    .title {
      font-size: 40px;
    }
    .no-data {
      color: #8c8c8c;
      font-size: 14px;
      margin: 80px 0 30px;
    }
    &.addInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .container {
    border-top: 1px solid #d8d8d8;
    margin-top: 40px;
    padding: 20px;
    min-height: 200px;
    & > header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
      span {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
    .item {
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
      & > div {
        width: 24%;
        input {
          width: 100%;
          box-sizing: border-box;
          font-size: 14px;
        }
      }
      .buttonBox {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;

        & > button {
          width: 45%;
          font-size: 14px;
        }
      }
    }
    .toast {
      text-align: center;
      line-height: 200px;
    }
    .delete {
      margin-left: 10px
    }
  }
}

// media
@media (max-width: 576px) {
  .homePage {
    .container {
      overflow: auto;
      padding: 10px;
      & > header {
        & > span {
          min-width: 130px;
          margin: 0 5px;
        }
      }
      .toast {
        font-size: 14px;
      }
      .item {
        width: auto;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
        div {
          width: auto;
          margin: 0 5px;
          input {
            min-width: 130px;
          }
        }
        .buttonBox {
          button {
            min-width: 50px;
          }
        }
      }
    }
  }
}

// media
@media (max-width: 380px) {
  .homePage {
    .container {
      padding: 10px;
      .toast {
        font-size: 14px;
      }
    }
  }
}