.homePage {
  > header {
    .add {
      font-size: 16px;
      height: 56px;
      line-height: 56px;
      padding: 0 40px;
      font-weight: 600;
    }
    .title {
      font-size: 50px;
    }
    .no-data {
      color: #8c8c8c;
      font-size: 16px;
      margin: 150px 0 50px;
      line-height: 30px;
    }
    &.addInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .container {
    margin-top: 40px;
    padding: 20px;
    min-height: 200px;
    .name, .price{
      width: 18%;
    } 
    .action {
      width: 23%;
    }
    .notes {
      flex: 1
    }
    & > header {
      font-size: 18px;
      border-top: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      height: 48px;
      line-height: 48px;
      display: flex;
      span {
        display: inline-block;
        width: 100%;
        text-align: left;
        color: #8C8C8C
      }
    }
    .item {
      display: flex;
      justify-content: space-around;
      height: 48px;
      border-bottom: 1px solid #d8d8d8;
      color: #1A1A1A;
      .handle {
        display: flex;
        justify-content: flex-start;
        p {
          min-width: 40%;
          text-align: left;
          cursor: pointer;
        }
      }
    }
    .toast {
      text-align: center;
      line-height: 200px;
    }
    .delete {
      margin-left: 10px
    }
  }
}

// media
@media (max-width: 576px) {
  .homePage {
    .container {
      overflow: auto;
      padding: 10px;
      > header {
        flex-wrap: wrap;
        position: relative;
        title {
          font-size: 36px;
        }
        .no-data {
          margin-top: 30px;
        }
        .add {
          position: absolute;
          margin-top: 15px;
          height: 36px;
          line-height: 36px;
          padding: 0 30px;
        }
      }
      .toast {
        font-size: 14px;
      }
      .item {
        width: auto;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
        div {
          width: auto;
          margin: 0 5px;
          input {
            min-width: 130px;
          }
        }
        .buttonBox {
          button {
            min-width: 50px;
          }
        }
      }
    }
  }
}

// media
@media (max-width: 380px) {
  .homePage {
    overflow: auto;
    .container {
      .toast {
        font-size: 14px;
      }
      & > header {
        flex-wrap: nowrap;
      }
    }
    .name, .price, .notes{
      width: 30% !important;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .notes {
      flex: none !important;
    }
    .action{
      width: 40% !important;
    } 
    > header {
      flex-wrap: wrap;
      position: relative;
      title {
        font-size: 36px;
      }
      .no-data {
        margin-top: 30px;
        line-height: 40px;
        margin-bottom: 20px;
      }
      .add {
        position: absolute;
        height: 36px;
        line-height: 36px;
        padding: 0 30px;
        bottom: -5px;
      }
      .addInfo {
        right: 0;
        bottom: -15px;
      }
    }
  }
}